.add-btn {
  background-color: var(--main-button-background-color);
}
.add-btn,
.remove-btn {
  border: none;
  padding: 0.6rem 1.4rem;
  color: var(--main-button-color);
  font-size: 1rem;
}
.remove-btn {
  background-color: var(--main-button-danger);
}
.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
