.currency-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
}
.table-wrapper {
  background-color: var(--main-container-background-color);
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: rgb(119, 108, 108) 0.1rem 0.2rem;
  border-radius: 0.5rem;
  padding: 0.2rem 0.4rem;
  overflow: hidden;
}
