.currency-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin: 2rem 0rem;
}
.message-wrapper__left,
.message-wrapper__right {
  max-width: 450px;
  padding: 1rem;
  background-color: var(--main-container-background-color);
  text-align: center;
  border-radius: 0.3rem;
}
.company-name {
  font-size: 2rem;
  color: var(--main-highlight-color);
}
.msg-container__left,
.msg-container__right {
  overflow: hidden;
  display: flex;
  flex-grow: 1;
  margin-bottom: 2rem;
}
.msg-container__right {
  justify-content: flex-end;
}
