@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
:root {
  --main-font-family: "Open Sans", sans-serif;
  --main-link-color: rgb(157, 198, 231);
  --main-active-link-color: rgb(77, 83, 90);
  --main-button-background-color: rgb(157, 198, 231);
  --main-button-color: rgb(250, 248, 245);
  --main-container-background-color: rgb(250, 249, 246);
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  display: flex;
  font-family: var(--main-font-family);
  min-width: 100vw;
  background-color: var(--main-container-background-color);
}
#main-header {
  flex-grow: 1;
  box-shadow: 0.2rem 0.2rem rgb(156, 142, 142);
}
